.inputForm {
    margin-top:10px;
}

.text-muted {
    font-size: 10px;
}

.list-buttons {
    text-align:right;
}

.btn-edit {
    margin-right:5px;
}

.checkbox-item {
    margin-right:5px;
}

.list-name {
    color: black;
    text-decoration: none;
}

.list-name:hover{
    color: black;
    text-decoration: none;
}